* {
    font-family: 'Rufina', serif;
}

.cuerpo{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    color: rgb(155, 50, 253);
    text-shadow: 1px 1px 3px black;
}

@media only screen and (max-width: 901px) {
    #contenedorGlobal {
        flex-direction: column;
    }
    #sorteoGanadores {
        margin-top: 40px;
    }

}
